@model eStore.ViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
        <dt class = "col-sm-2">
           @Html.DisplayNameFor(model => model.Order.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.MemberId)
        </dd>
        <dt class = "col-sm-2">
           @Html.DisplayNameFor(model => model.Order.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
        <dt class = "col-sm-2">
             @Html.DisplayNameFor(model => model.Order.RequireDate)
        </dt>
        <dd class = "col-sm-10">
           @Html.DisplayFor(model => model.Order.RequireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShippedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.ShippedDate)
        </dd>
        <dt class = "col-sm-2">
             @Html.DisplayNameFor(model => model.Order.Freight)
        </dt>
        <dd class = "col-sm-10">
             @Html.DisplayFor(model => model.Order.Freight)
        </dd>
         <dt class = "col-sm-2">
             @Html.DisplayNameFor(model => model.Order.Status)
        </dt>
        <dd class = "col-sm-10">
             @Html.DisplayFor(model => model.Order.Status)
        </dd>

        
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Discount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Order.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
