@model IEnumerable<BusinessObject.Bill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bill list</h1>

<form asp-action="Index">
    <div class="row d-flex align-items-end">
        <div class="form-group col-4">
            <label for="tableid" class="control-label">Table Id:</label>
            <input name="tableid" class="form-control " type="number"/>
        </div>
        <div class="form-group col-4">
            <label for="numberofpeople" class="control-label">Number of People:</label>
            <input name="numberofpeople" class="form-control " type="number" />
        </div>
        <div class="form-group col-4">
            <label for="minprice" class="control-label">Min Price:</label>
            <input name="minprice" class="form-control " type="number" />
        </div>
    </div>
    <div class="row d-flex align-items-end">
        <div class="form-group col-4">
            <label for="timein" class="control-label">Start date:</label>
            <input name="timein" class="form-control" type="date"/>
        </div>
        <div class="form-group col-4">
            <label for="timeout" class="control-label">End date:</label>
            <input name="timeout" class="form-control" type="date" />
        </div>
        <div class="form-group col-4">
            <input type="submit" value="Search" class="btn btn-primary" />
            @Html.ActionLink("Reset", "Index")
        </div>
    </div>
</form>

<div class="row d-flex align-items-end justify-content-end m-2">
    <div class="form-group col-4">
        <div class="alert alert-success" role="alert">Total : @ViewBag.total</div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BillId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPeople)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BillId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TableId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPeople)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BillId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BillId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BillId })
                </td>
            </tr>
        }
    </tbody>
</table>
